Dear {{firstName}},
<br/><br/>
Your account has been disabled.
<br/><br/>
To reset your password, please follow the link bellow
<br/>
<a href="{{resetPasswordUrl}}" target="_blank">{{resetPasswordUrl}}</a>
<br/><br/>
{{signature}}