{
  "{{type}}": {
    "properties": {
      "uuid": {
        "type": "keyword",
        "index": true
      },
      "createdDate": {
        "type": "date"
      },
      "lastUpdated": {
        "type": "date"
      }
    }
  }
}